.link {
    margin-right: 15px;

    color: #fff;
    text-transform: uppercase;
    text-decoration: none;

    &:hover, &:focus {
        outline: none;
        text-decoration: underline;
    }

    &:active {
        outline: none;
    }


}