.item {
    display: flex;

    width: calc(600/790*100%);

    border-radius: 5px;

    background-color: rgba(202,202,202,1.0);
}

.text {
    padding-top: 15px;
}

.avatarWrap {
    position: relative;

    width: 50px;
    height: 50px;
    margin-right: 20px;

    overflow: hidden;
    border-radius: 50%;
    color:red;
}

.avatar {
    position: absolute;
    left: -7px;

    width: 70px;
    height: 50px;
    

    

    vertical-align: bottom;
}