

.list {
    margin: 0;
    padding: 0;
    padding-top: 20px;
    list-style-type: none;
}

.elem {
    margin: 0;
    padding: 0;
    margin-left: 20px;
    padding-bottom: 10px;
}

.elem:nth-child(4) {
    padding-bottom: 40px;
}

.link {
    text-decoration: none;

    color: #fff;
}

.link:hover {
    text-decoration: underline;
}

.active {
    color: #f1f107
}