:root {
    --width-wrap: 960px;
    --grid-total-col: 12;
    --grid-nav-col: 2;
    --grid-nav-col-fr: 2fr;
    --grid-content-col: 10;
    --grid-content-col-fr: 10fr;
}

.--grid-wrap {
    display: grid;
    grid-template-areas: "header header" "nav content";
    grid-template-rows: 60px 1fr;
    grid-template-columns: var(--grid-nav-col-fr) var(--grid-content-col-fr);
    width: var(--width-wrap);
    margin: 0 auto;
}