:root {
    --width-wrap: 960px;
}

* {
    box-sizing: border-box;
}

h2 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

.grid_wrap {
    width: var(--width-wrap);
    margin: 0 auto;
}

.header {
    margin-bottom: 10px;
}

.sideBar {
    margin-right: 10px;
}


.main_block {
    display: flex;
}