.title {
    margin-bottom: 10px;
}

.textWrap {
    width: calc(600/790*100%);
    margin-bottom: 30px;
}

.mytext {
    width: 100%;
    height: 100px;
    margin-bottom: 5px;

    box-sizing: border-box;
    border-radius: 5px;
}

.button {
    display: block;

    width: calc(150/790*100%);
    margin-left: auto;
    margin-right: 0;
    padding-top: 3px;
    padding-bottom: 3px;

    border-radius: 5px;
    border: none;

    color: #fff;
    background-color: green;
}

.item {
    margin-bottom: 5px;
}
